*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BEBAS NEUE-THIN';
    src: url('font/Bebas\ neue\ Viet\ hoa/BEBAS NEUE-THIN.ttf');
}
@font-face {
    font-family: 'BEBAS NEUE ZSMALL';
    src: url('font/Bebas\ neue\ Viet\ hoa/BEBAS NEUE ZSMALL.ttf');
}
@font-face {
    font-family: 'BEBAS NEUE REGULAR';
    src: url('font/Bebas\ neue\ Viet\ hoa/BEBAS NEUE REGULAR.ttf');
}
@font-face {
    font-family: 'BEBAS NEUE LIGHT';
    src: url('font/Bebas\ neue\ Viet\ hoa/BEBAS NEUE LIGHT.ttf');
}
@font-face {
    font-family: 'BEBAS NEUE BOOK';
    src: url('font/Bebas\ neue\ Viet\ hoa/BEBAS NEUE BOOK.ttf');
}
@font-face {
    font-family: 'BEBAS NEUE BOLD';
    src: url('font/Bebas\ neue\ Viet\ hoa/BEBAS NEUE BOLD.ttf');
}


/* h1{
    text-align: center;
    color: white;
    line-height: 260px;
}

.container{
    width: 100%;
    background-color: blanchedalmond;
}

.course-item{
    background-color: blueviolet;
    height: 260px;
} */

.test{
    background-color: cadetblue;
    height: 31.25em;
}

.popup_layer{
}

.popup_layer .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0em;
    left: 0em;
    z-index: 10;
    display: none;
}

.popup_layer .overlay i{
    position: fixed;
    top: 10%;
    right: 5%;
    font-size: 1.875em;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

.popup_layer .overlay i:hover{
    opacity: 1;
}


.popup_layer .overlay.show{
    display: block;
}

.popup_layer .image_layer{
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    transition: 0.3s;
    z-index: 11;
}

.popup_layer .image_layer ul{
    height: 100%;
    list-style: none;
}

.popup_layer .image_layer ul li{
    height: 100%;
}

.popup_layer .image_layer ul li img{
    height: 100%;
    transform: translateX(5%);
}

.show{
    display: block !important;

}


.hide{
    display: none;
}

a{
    text-decoration: none;
    color: #322000;
}

/* Home */
.banner_top{
    width: 100%;
    height: 46em;
    background-color: #FFF9F5;
    position: relative;
}

.banner_top .menu_scroll{
    height: 6em;
    background-color: transparent;
    position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 9;
}

.banner_top .menu_scrolled{
    height: 12%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.100);
    border-bottom: 0.0625em solid #32200025;
    position: fixed;
    padding-bottom: 0.3125em;
}

.banner_top .menu .logo .logo_top{
    width: 2.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.banner_top .menu .logo .logo_scrolled{
    width: 1.875em;
}

.banner_top .menu .menu_icon_bar i{
    width: 5.625em;
    color: #F17B78;
}

.banner_top .menu .menu_items{
    font-family: BEBAS NEUE BOOK;
    color: #322000;
    font-size: 2.3em;
}

.banner_top .menu .menu_items .item{
    list-style: none;
    padding: 0em 0em 0em 1.6em;
    float: right;
    line-height: 2.5em;
    transition: 0.3s;
}

.banner_top .menu .menu_items .item_scrolled{
    font-size: 0.85em;
    line-height: 2.7em;
    padding: 0em 0em 0em 1.3em;
}

.banner_top .menu .menu_items .active{
    font-size: 1.2em;
    font-family: BEBAS NEUE REGULAR;
    color: #F17B78;
}

.banner_top .menu .menu_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    display: none;
}

.banner_top .menu .menu_mobile_items{
    position: fixed;
    top: 0em;
    right: 0;
    bottom: 0;
    height: 25em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.100);
    text-align: center;
    transform: translateY(-200%);
    transition: 0.3s;
}

.banner_top .menu .menu_mobile_items .mobile_item{
    padding: 0.55em 0em;
    display: block;
    font-family: BEBAS NEUE BOOK;
    color: #322000;
    font-size: 2.1875em;
}

.banner_top .menu .menu_mobile_items .mobile_item_close{
    padding: 1.875em 1.875em 1.25em 1.875em;
    display: block;
    color: #322000;
    font-size: 1.875em;
    text-align: right;
}

.banner_top .menu .menu_mobile_items .active{
    font-family: BEBAS NEUE REGULAR;
    color: #ffffff;
    background-color: #F17B78;
}

.banner_top .menu .menu_mobile_items .first_row{
    margin-top: 2.65em;
}

.banner_top .menu .menu_input:checked ~ .menu_overlay{
    display: block;
}

.banner_top .menu .menu_input:checked ~ .menu_mobile_items{
    transform: translateY(0%);
}

.banner_top .content{
    padding-top: 7em;
    color: #322000;
}

.banner_top .introduce .name{
    font-family: BEBAS NEUE BOLD;
    font-size: 11em;
    margin-top: 0.2em;
}

.banner_top .introduce .job{
    font-family: BEBAS NEUE REGULAR;
    font-size: 3.5em;
    margin-top: -0.3em;
}

.banner_top .introduce .description{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    margin-top: 0.8em;
    margin-bottom: 2.5em;
}

.banner_top .introduce .button{
}

.banner_top .introduce .button button{
    margin-top: 1em;
    color: #F17B78;
	border: 0.15em solid #F17B78;
	padding: 0.5em 1.5em;
	border-radius: 3.125em;
	transition: 0.3s;
	cursor: pointer;
	background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
	font-weight: 500;
    text-align: center;
}

.banner_top .content .avt img{
    width: 90%;
    float: right;
}

.who_am_i .container{
    height: 25em;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    border-radius: 1em;
    margin-top: 6.25em;
    padding: 0em;
    display: flex;
}

.who_am_i .container .image_base{
    width: 90%;
    height: 100%;
    background-color: #FFDFCA;
    border-radius: 1em;
    float: left;
    position: relative;
}

.who_am_i .container .image_base img{
    width: 70%;
    position: absolute;
    letter-spacing: 0em;
    bottom: 0em;
    left: 50%;
    transform: translateX(-50%);
}

.who_am_i .container .content{
    padding: 3.75em 3.75em 3.75em 3.75em;
}

.who_am_i .container .content .question1{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
}

.who_am_i .container .content .description{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    margin-top: 1.25em;
}

.what_software .container{
    min-height: 80%;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    border-radius: 1em;
    margin-top: 6.25em;
} 

.what_software .title{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
    text-align: center;
    padding-top: 0.5em;
} 

.what_software .software{
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-around;
}

.what_software .software .bg{
    width: 7em;
    height: 7em;
    /* height: 7em; */
    border-radius: 0.9375em;
    /* background-color: white; */
    /* box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.what_software .software .bg img{
    width: 100%;
    transition: 0.3s;
}

.what_software .software .bg:hover img{
    width: 110%;
}


.what_my_abilities .title{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
    text-align: center;
    padding-top: 2.5em;
    text-transform: uppercase;
}

.what_my_abilities .box{
    width: 100%;
    min-height: 35em;
    max-height: 60em;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    border-radius: 1em;
    margin-top: 1.3em;
}

.what_my_abilities .box .cover{
    width: 100%;
    border-radius: 1em 1em 0em 0em;
}

.what_my_abilities .box .title{
    font-family: 'Quicksand', sans-serif;
    color: #322000;
    font-weight: 700;
    font-size: 2.2em;
    padding: 0.5em 0.5em 0.1em 0.8em;
    float: left;
}

.what_my_abilities .box .description{
    font-family: 'Quicksand', sans-serif;
    color: #322000;
    font-weight: 400;
    font-size: 1.25em;
    /* padding-top: 0.375em; */
    float: left;
    padding: 0em 1.5em 1.8em 1.5em;
}

.comment_area{
    text-align: center;
    padding: 3.25em 0em 0em 0em;
}

.footer{
    padding-bottom: 3.75em;
}

.footer .line{
    height: 0.3125em;
    background-color: #322000;
    border-radius: 1.5625em;
    margin-top: 12.5em;
}

.footer .right{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-top: 0.3125em;
}

.footer .social_media .icon{
    width: 2.5em;
    height: 2.5em;
    float: right;
    margin-left: 0.625em;;
    margin-top: 0.3125em;
    border-radius: 1.5625em;
    background-color: white;
    box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.150);
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.footer .social_media .icon:hover{
    background-color: #F17B78;
    color: white;
}

.footer .social_media .icon i{
    font-size: 1.25em;
}


/* Gallery */
.gallery .content .title{
    font-family: BEBAS NEUE BOLD;
    font-size: 10em;
    margin-top: 0.05em;
    text-align: center;
}

.gallery .content .description{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
    margin-top: 0.5em;
    text-align: center;
}

.gallery .content .shape{
    margin-top: 2.5em;
}

.gallery .content .shape1{
    width: 30%;
}

.gallery .content .shape2{
    width: 115%;
    text-align: center;
    margin-top: 2.75em;
}

.gallery .content .shape3{
    width: 40%;
    float: right;
    margin-top: 3.125em;
}

/* .filter{

}

.filter .food-menu{
    margin-top: 5em;
    margin-bottom: 0.625em;
}

.filter .food-menu .active{
    color: white;
    background-color: #F17B78;
}

.filter .food-menu button{
    color: #F17B78;
	border: 2px solid #F17B78;
	padding: 0.3125em 1.25em;
	border-radius: 3.125em;
    margin-right: 0.625em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
	font-weight: 400;
	transition: 0.3s;
	cursor: pointer;
	background-color: transparent;
}

.filter .line{
    height: 0.3125em;
    background-color: #F17B78;
    border-radius: 1.5625em;
    margin-bottom: 1.25em;
} */

.gallery .products{
    margin-top: 3.75em;
}

.gallery .products .food-list{

}

.gallery .products .food-item{
    width: 100%;
    min-height: 21.25em;
    max-height: 37.5em;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    border-radius: 0.9375em;
    margin-top: 1.875em;
}

.gallery .products .food-item a img{
    width: 100%;
    margin-bottom: 0.625em;
    border-radius: 0.9375em 0.9375em 0em 0em;
}

.gallery .products .food-item .title{
    color: #322000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    float: left;
    padding: 0em 0.5em 1em 0.5em;
}

.gallery .products .hide {
	display: none;
}


/* About me */
.about_me .title {
    font-size: 3.125em;
}
.about_me .content .title{
    font-family: BEBAS NEUE BOLD;
    font-size: 10em;
    margin-top: 0em;
    margin-bottom: 0.1em;
    float: left;
}

.about_me .content .description{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5625em;
    margin-top: 0.6em;
}

.about_me .content .description .text1{
    font-weight: 600;
}

.about_me .content .description .text2{
    font-weight: 400;
    padding-right: 7em;
}

.about_me .content .avt{
    width: 93%;
    margin-top: -2.2em;
}


.about_me .timeline .title{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
    text-align: center;
    padding-top: 1.5em;
}

.about_me .timeline .bar{
    width: 80%;
    height: 0.3125em;
    border-radius: 1.25em;
    background-color: #F17B78;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1.875em;
}    

.about_me .timeline .bar li{
    list-style: none;
    margin: auto;
    width: 30%;
}

.about_me .timeline .bar .point{
    width: 1.25em;
    height: 1.25em;
    border-radius: 3.125em;
    background-color: #ffffff;
    border: 0.3em solid #F17B78;
    box-sizing: content-box;
    position: absolute;
    top: -0.7em;
    margin-left: 14%;
} 

.about_me .timeline .bar .date{
    color: #322000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.375em;
    margin-top: 1.875em;
} 

.about_me .timeline .bar .description{
    color: #322000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.125em;
} 

.about_me .timeline{
    width: 100%;
    height: 24em;
}
    
.about_me .strengths .container{
    height: 25em;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    border-radius: 1.5625em;
    padding: 0em;
    display: flex;
}

.about_me .strengths .container .image_base{
    width: 80%;
    height: 100%;
    background-color: #FFDFCA;
    border-radius: 1.5625em;
    float: left;
    position: relative;
}

.about_me .strengths .container .image_base img{
    width: 55%;
    position: absolute;
    letter-spacing: 0em;
    bottom: 0em;
    left: 50%;
    transform: translateX(-50%);
}

.about_me .strengths .container .content{
    padding: 3em 3.75em 3.75em 3.75em;
}

.about_me .strengths .container .content .title{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
    padding-right: 50%;
    margin-top: 0em;
    margin-bottom: 0.3em;
}

.about_me .strengths .container .content .description{
    
}

.about_me .strengths .container .content .description i{
    color: #F17B78;
    padding-right: 0.625em;
    font-size: 1.5625em;
}

.about_me .strengths .container .content .description span{
    color: #322000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    margin-top: 1.3em;
}

.about_me .hobbies{
    height: 15.625em;
    margin-top: 7em;
}

.about_me .hobbies .title{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
    text-align: center;
}

.about_me .hobbies .base{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.25em;
}

.about_me .hobbies .base .activity{
    width: 7.5em;
    height: 100%;
}


.about_me .hobbies .base .activity .bg{
    width: 7.5em;
    height: 7.5em;
    border-radius: 0.9375em;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me .hobbies .base .activity .bg img{
    width: 50%;
    transition: 0.3s;
}

.about_me .hobbies .base .activity:hover .bg img{
    width: 60%;
}

.about_me .hobbies .base .activity p{
    text-align: center;
    color: #322000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    margin-top: 0.3125em;
    transition: 0.3s;
}

.about_me .hobbies .base .activity:hover p{
    font-size: 1.375em;
    font-weight: 500;
}


/*======================================
            MAIN-.about_me CONTENT
======================================*/
.favorite_songs{

}

.about_me .favorite_songs .container{
    display: flex;
    height: 30.3125em;
    width: 100%;
    background-color: white;
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.100);
    border-radius: 1.5625em;
    margin-top: 5em;
}

.about_me .favorite_songs .container .content{
    padding: 1em 3em;
    width: 100%;
}

.about_me .favorite_songs .container .content .my-playlist{
    height: 19.6875em;
    margin-top: 0em;
}

.about_me .favorite_songs .container .content .playlist-head{
    width: 100%;
    padding-top: 0em;
}

.about_me .favorite_songs .container .content .playlist-head h4{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 3.5em;
}

.about_me .favorite_songs .container .content .playlist{
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    padding: 0.3em 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    color: #322000;
}

.about_me .favorite_songs .container .content .playlist-list__title{
    font-size: 0.875em;
    margin-top: 2.1875em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.about_me .favorite_songs .container .content .playlist__number{
    width: 3em;
    min-width: 1em;
}

.about_me .favorite_songs .container .content .playlist__title{
    width: 21.8em;
    min-width: 15em;
}

.about_me .favorite_songs .container .content .playlist__artist{
    width: 16em;
    min-width: 15em;
    float: left;
}

.about_me .favorite_songs .container .content .playlist__time{
    flex: 1;
    text-align: right;
    padding-right: 0em;
}

.about_me .favorite_songs .container .content .playlist--hover:hover{
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: .1s linear;
    color: #F17B78;
}

.about_me .favorite_songs .container .content .playlist--hover.active{
    position: relative;
    z-index: 1;
    color: #F17B78;
    cursor: pointer;
    font-weight: 600;
}




/*======================================
            PLAY-SONGS
======================================*/
.about_me .favorite_songs .container .content .play-song{
    padding: 0em 0em 1.5em 0em;
    margin-top: 0.3125em;
    border-radius: 0.5em;
}

.about_me .favorite_songs .container .content .play-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
    padding: 1.25em 0 1em;
    color: #3220007c;
}

.about_me .favorite_songs .container .content .play-control__act{
    width: 10em;
}

.about_me .favorite_songs .container .content .play-control__act i{
    padding: 0em 0.5em 0em 0em;
    cursor: pointer;
    font-size: 1em;
    color: #3220007c;
}

.about_me .favorite_songs .container .content .play-control__repeat{
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 0.3125em;
}

.about_me .favorite_songs .container .content .play-control__repeat i{
    font-size: 1em;
}


.about_me .favorite_songs .container .content .play-control__main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.about_me .favorite_songs .container .content .play-control__main i{
    cursor: pointer;
    color: #F17B78;
}

.about_me .favorite_songs .container .content .main-icon{
    font-size: 1.25em;
}

.about_me .favorite_songs .container .content .main-icon--big{
    font-size: 2.25em;
}

.range{
    flex:1;
    appearance: none;
    height: 0.25em;
    background-color: #C4C4C4;
    cursor: pointer;
    border-radius: 0.3125em;
} 

.about_me .favorite_songs .container .content .range::-webkit-slider-thumb{
    appearance: none;
    background-color: #fff;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 0.25em solid #F17B78;
    cursor: pointer;
}

.about_me .favorite_songs .container .content .play-seekbar{
    display: flex;
    align-items: center;
    gap:1.5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 01em;
    color: #322000;
}

.about_me .favorite_songs .container .content .timer__left, .timer__right{
    width: 1.5625em;
    max-width: 1.5625em;
}

.about_me .favorite_songs .container .content .play-repeat,.shuffle-song,#heart{
    transition: .5s;
}

.about_me .favorite_songs .image_base{
    width: 100%;
    background-color: #FFF2E6;
    height: 30.3125em;
    border-radius: 0em 1.5625em 1.5625em 0em;
    display: flex;
    align-items: center;
}

.about_me .favorite_songs .image_base img{
    width: 100%;
    
}


/* My CV */
.myCv{
    background-color: #FFF9F5;
}

.myCv .banner_top{
    height: 0em;
}

.myCv .content{
    
}

.myCv .content .title{
    font-family: BEBAS NEUE BOLD;
    font-size: 10em;
    margin-top: 0.5em;
    text-align: center;
    color: #322000;
}

.myCv .content .button{
    margin-top: 1.25em;
    display: flex;
    justify-content: center;
}

.myCv .content .button button{
    color: #F17B78;
	border: 0.1875em solid #F17B78;
	padding: 0.625em 1.875em;
	border-radius: 3.125em;
	transition: 0.3s;
	cursor: pointer;
	background-color: transparent;
	margin: 0.3125em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
	font-weight: 600;
    text-align: center;
}

.myCv .content .button button:hover{
    color: #fff;
	background-color: #F17B78;
}

.myCv .content .button .active{
	background-color: #F17B78;
    color: white;
	font-weight: 600;
}

.myCv .content .cv{
    margin-top: 1.25em;
}

.myCv .content .cv .image{
}

.myCv .content .cv .image img{
    width: 100%;
    cursor: pointer;
    border: 0.1em solid #32200026;
}

.myCv .content .cv .active{
    display: block;
    width: 100%;
}

.myCv .content .cv .hide{
    display: none;
}


/* Gallery details */
.gallery_details .banner_top{
    background-color: white;
    height: 4.375em;
}

.gallery_details{
    background-color: #f9f9f9;
}

.gallery_details .btn {
    margin-top: 3.125em;
    color: #F17B78;
	background-color: white;
    box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.15);
	padding: 0.3125em 0.625em;
	border-radius: 3.125em;
	transition: 0.3s;
	cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8%;
}

.gallery_details .btn i{
    transform: translateY(5%);
}

.gallery_details .btn p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
	font-weight: 600;
}

.gallery_details .title{
    height: 1.875em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25em;
}

.gallery_details .title .name{
    font-family: BEBAS NEUE BOLD;
    color: #322000;
    font-size: 2.8125em;
}

.gallery_details .title .software{
    width: 10%;
}

.gallery_details .title .software .icon{
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5625em;
    color: white;
    background-color: #F17B78;
    box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.150);
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    float: right;
    margin-left: 0.3125em;
}

.gallery_details .title .software .icon p{
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.125em;
}

.gallery_details .images{
    width: 100%;
    margin-top: 0.625em;
}

.gallery_details .images img{
    width: 100%;
    margin-top: 0.3125em;
}


/* video */
.gallery_details .player__video {
    width: 100%;
    cursor: pointer;
}

.gallery_details .player {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: auto;
	margin-top: 1.25em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 1em;
}

.gallery_details .player__controls {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
    left: 0;
	transform: translateY(100%);
	transition: 0.25s;
    background-image: linear-gradient(to bottom, transparent, rgba(49, 49, 49, 0.9));
    color: white;
    cursor: pointer;
}

.gallery_details .player:hover .player__controls {
	transform: unset;
}

.gallery_details .player__controls > * {
	margin: 0.3125em;
}

.gallery_details .player__progress {
	flex: 1;
	height: 0.5em;
	background-color: #fff;
    position: relative;
    border-radius: 3.125em;
    cursor: pointer;
}

.gallery_details .player__progress__filled {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #F17B78;
    border-radius: 3.125em;
    cursor: pointer;
}

.gallery_details .player__button {
	outline: none;
	border: none;
	background-color: transparent;
	color: white;
    cursor: pointer;
    top: 10%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
}

.gallery_details .player__button:hover {
	color: #F17B78;
}

.gallery_details .toggle {
    font-size: 1.875em;
}

.gallery_details .player__volume input {
    position: relative;
    top: 0.0625em;
    cursor: pointer;
}













/* Mobile & Tablet */
@media (max-width: 63.9375em){
    .hide_on_mobile_tablet{
        display: none;
    }

}


/* >Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .popup_layer .overlay i{
        top: 5%;
        right: 5%;
        font-size: 1.875em;
    }
    
    .popup_layer .image_layer{
        height: 80%;
        transform: translateX(-55%) translateY(-50%);
    }

    .hide_on_tablet{
        display: none;
    }

    .banner_top{
        height: 30em;
    }

    .banner_top .menu_scroll{
        height: 6.25em;
        background-color: transparent;
        position: fixed;
        width: 100%;
        transition: 0.3s;
    }

    .banner_top .menu .menu_items{
        font-family: BEBAS NEUE BOOK;
        color: #322000;
        font-size: 1.7em;
    }
    
    .banner_top .menu .menu_items .item{
        list-style: none;
        padding: 0em 0em 0em 1.5em;
        float: right;
        line-height: 3.5em;
        transition: 0.3s;
    }

    .banner_top .menu .menu_items .item_scrolled{
        font-size: 0.9em;
        line-height: 3em;
        padding: 0em 0em 0em 1.5em;
    }
    
    .banner_top .menu_scrolled{
        height: 4.375em;
        background-color: rgb(255, 255, 255);
        box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.100);
        border-bottom: 0.0625em solid #32200025;
    }
    
    .banner_top .menu .logo .logo_top{
        width: 1.875em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }
    
    .banner_top .menu .logo .logo_scrolled{
        width: 1.5625em;
    }

    .banner_top .content{
        padding-top: 6.875em;
    }
    
    .banner_top .introduce .name{
        font-size: 6em;
    }
    
    .banner_top .introduce .job{
        font-size: 2em;
        margin-top: 0em;
    }
    
    .banner_top .introduce .description{
        margin-top: 1.25em;
        font-size: 0.8em;
    }
    
    .banner_top .introduce a{
        line-height: 1.5em;
    }
    
    .banner_top .introduce .button{
        
    }

    .banner_top .introduce .button button{
        border: 2.0.3125em solid #F17B78;
        padding: 0.5em 1.25em;
        margin: 0.3125em;
        font-size: 0.9375em;
    }
    
    .banner_top .content .avt img{
        width: 100%;
        float: right;
    }

    .who_am_i .container{
        height: 15.625em;
        background-color: white;
        margin-top: 5em;
    }
    
    .who_am_i .container .image_base{
        position: relative;
    }
    
    .who_am_i .container .content{
        padding: 3.125em 1.875em 1.875em 1.875em;
    }
    
    .who_am_i .container .content .question1{
        font-size: 2.5em;
    }
    
    .who_am_i .container .content .description{
        font-size: 1em;
        margin-top: 0.625em;
    }

    .what_software .container{
        margin-top: 5em;
    } 
    
    .what_software .title{
        font-size: 2.5em;
        padding-top: 0.5em;
    } 
    
    .what_software .software{
        padding-top: 0.75em;
    }
    
    .what_software .software .bg{
        width: 5em;
        height: 5em;
    }
    
    .what_software .software .bg img{
        width: 5em;
        transition: none;
    }
    
    .what_software .software .bg:hover img{
        width: 100%;
    }
    
    .what_my_abilities .title{
        font-size: 2.5em;
        text-align: center;
        padding-top: 3em;
        text-transform: uppercase;
    }
    
    .what_my_abilities .box{
        min-height: 20.5em;
        max-height: 31.25em;
        margin-top: 1.25em;
    }

    .what_my_abilities .box .title{
        font-size: 1.25em;
        padding: 0.3em 0.2em 0.2em 0.625em;
        float: left;
    }
    
    .what_my_abilities .box .description{
        font-size: 0.9em;
        padding-top: 0.375em;
        float: left;
        padding: 0em 0.625em 0.625em 0.625em;
    }

    
    .footer .line{
        height: 0.1875em;
        margin-top: 9.375em;
    }
    
    .footer .right{
        font-size: 0.75em;
        margin-top: 0.3125em;
    }
    
    .footer .social_media .icon{
        width: 1.875em;
        height: 1.875em;
        margin-left: 0.5em;
        margin-top: 0.3125em;
    }

    .footer .social_media .icon i{
        font-size: 1em;
    }
    

    /* Gallery */
    .gallery .content .title{
        font-size: 5em;
        margin-top: 0em;
    }

    .gallery .content .description{
        font-family: 'Quicksand', sans-serif;
        font-size: 1em;
        margin-top: 0.3em;
    }

    .gallery .content .shape{
        margin-top: 1.875em;
    }

    .gallery .content .shape1{
        width: 30%;
        padding-left: 0.625em;
    }

    .gallery .content .shape2{
        width: 90%;
        text-align: center;
        margin-top: 1.25em;
    }

    .gallery .content .shape3{
        width: 50%;
        float: right;
        padding-right: 1.25em;
        margin-top: 3.125em;
    }

    .gallery .products{
        margin-top: 1.875em;
    }
    
    .gallery .products .food-item{
        min-height: 13.5em;
        max-height: 25em;
        margin-top: 0.9375em;
        border-radius: 0.625em;
    }
    
    .gallery .products .food-item a img{
        margin-bottom: 0.3125em;
        border-radius: 0.625em 0.625em 0em 0em;
    }
    
    .gallery .products .food-item .title{
        font-size: 1em;
    }

    /* About me */
    .about_me .content .title{
        font-size: 5em;
        margin-top: 0em;
        margin-bottom: 0.25em;
    }

    .about_me .content .description{
        font-size: 1.125em;
        margin-top: 0em;
        margin-bottom: 0.5em;
    }

    .about_me .content .avt{
        width: 100%;
        margin-top: -0.4em;
        margin-left: -1.25em;
    }
    
    .about_me .timeline{
        width: 100%;
        height: 15.625em;
    }
    
    .about_me .timeline .title{
        font-size: 2.5em;
        padding-top: 1.25em;
    }
    
    .about_me .timeline .bar{
        width: 80%;
        height: 0.25em;
        margin-top: 1.25em;
    }    
    
    .about_me .timeline .bar li{
    }
    
    .about_me .timeline .bar .point{
        width: 0.75em;
        height: 0.75em;
        border: 3.0.3125em solid #F17B78;
        top: -8.0.3125em;
        margin-left: 14%;
    } 
    
    .about_me .timeline .bar .date{
        font-size: 1.25em;
        margin-top: 1.25em;
    } 
    
    .about_me .timeline .bar .description{
        font-weight: 400;
        font-size: 0.9375em;
    } 

    .about_me .strengths .container{
        height: 13.75em;
        border-radius: 1.25em;
    }
    
    .about_me .strengths .container .image_base{
        position: relative;
        width: 40%;
    }
    
    .about_me .strengths .container .content{
        padding: 1.25em 0.3125em 0.3125em 1.25em;
    }
    
    .about_me .strengths .container .content .title{
        font-size: 2.5em;
        margin-bottom: 0.25em;
    }

    .about_me .strengths .container .content .description i{
        padding-right: 0.5em;
        font-size: 1.125em;
    }
    
    .about_me .strengths .container .content .description span{
        font-size: 1em;
        margin-top: 0.625em;
    }

    .about_me .hobbies{
        height: 10em;
        margin-top: 3.75em;
    }
    
    .about_me .hobbies .title{
        font-size: 2.5em;
    }
    
    .about_me .hobbies .base{
        margin-top: 0.625em;
    }
    
    .about_me .hobbies .base .activity{
        width: 5em;
        height: 100%;
    }
    
    .about_me .hobbies .base .activity .bg{
        width: 5em;
        height: 5em;
        border-radius: 0.75em;
    }
    
    .about_me .hobbies .base .activity .bg img{
        width: 50%;
    }
    
    .about_me .hobbies .base .activity:hover .bg img{
        width: 60%;
    }
    
    .about_me .hobbies .base .activity p{
        font-size: 0.9375em;
        margin-top: 0.3125em;
    }
    
    .about_me .hobbies .base .activity:hover p{
        font-size: 1.0625em;
    }

    /*======================================
                MAIN-.about_me CONTENT
    ======================================*/
    .favorite_songs{

    }

    .about_me .favorite_songs .container{
        height: 23.75em;
        border-radius: 1.25em;
        margin-top: 4em;
    }

    .about_me .favorite_songs .container .content{
        padding: 0.625em 1.875em;
    }

    .about_me .favorite_songs .container .content .my-playlist{
        height: 15.625em;
        margin-top: 0.9375em;
    }

    .about_me .favorite_songs .container .content .playlist-head{
    }

    .about_me .favorite_songs .container .content .playlist-head h4{
        font-size: 2.5em;
    }

    .about_me .favorite_songs .container .content .playlist{
        padding: 0.3125em 0;
        font-size: 0.9375em;
    }

    .about_me .favorite_songs .container .content .playlist-list__title{
        font-size: 0.75em;
        margin-top: 1.5625em;
        margin-bottom: 0.3125em;

    }

    .about_me .favorite_songs .container .content .playlist__number{
        width: 1.5em;
        min-width: 1.25em;
    }

    .about_me .favorite_songs .container .content .playlist__title{
        width: 21.6em;
        min-width: 16.875em;
    }

    .about_me .favorite_songs .container .content .playlist__artist{
        width: 17em;
        min-width: 17em;
    }

    .about_me .favorite_songs .container .content .playlist__time{
        padding-right: 2em;
    }


    /*======================================
                PLAY-SONGS
    ======================================*/
    .about_me .favorite_songs .container .content .play-song{
        padding: 0.3125em 0.3125em 0.625em 0em;
        margin-top: 0.3125em;
    
    }

    .about_me .favorite_songs .container .content .play-control{
        font-size: 0.9375em;
        padding: 0.75em 0em 0.75em;
    }

    .about_me .favorite_songs .container .content .play-control__act{
        width: 11.25em;
        padding-right: 1.875em;
    }

    .about_me .favorite_songs .container .content .play-control__act i{
        padding: 0em 0.5em 0em 0em;
        font-size: 1.125em;
    }

    .about_me .favorite_songs .container .content .play-control__repeat{
        width: 10em;
        padding-right: 0.3125em;
    }

    .about_me .favorite_songs .container .content .play-control__repeat i{
        font-size: 1.125em;
    }


    .about_me .favorite_songs .container .content .play-control__main{
        gap: 1em;
    }
    
    
    .about_me .favorite_songs .container .content .main-icon{
        font-size: 1.25em;
    }
    
    .about_me .favorite_songs .container .content .main-icon--big{
        font-size: 2.1875em
    }

    .range{
        height: 0.1875em;
        border-radius: 0.3125em;
    } 


    .about_me .favorite_songs .container .content .play-seekbar{
        gap:1.5em;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.8125em;
    }

    .about_me .favorite_songs .container .content .timer__left, .timer__right{
        width: 1.5625em;
        max-width: 1.5625em;
    }


    .about_me .favorite_songs .image_base{
        display: none;
    }

    


    /* My CV */
    .myCv{
        background-color: #FFF9F5;
    }

    .myCv .content{
        
    }

    .myCv .content .title{
        font-size: 5em;
        margin-top: 7.1875em;
    }

    .myCv .content .button{
        text-align: center;
        margin-top: 1.25em;
    }

    .myCv .content .button button{
        border: 2.0.3125em solid #F17B78;
        padding: 0.5em 1.25em;
        margin: 0.3125em;
        font-size: 0.9375em;
    }

    .myCv .content .cv{
        margin-top: 0.625em;
    }


    /* My CV */

    .myCv .banner_top{
        height: 0em;
    }

    .myCv .content .title{
        font-size: 5em;
        margin-top: 1.25em;
    }

    .myCv .content .button{
        margin-top: 0.9375em;
    }

    .myCv .content .button button{
        padding: 0.5em 1.25em;
        margin: 0.3125em;
        font-size: 1em;
    }

    .myCv .content .button button:hover{
        color: #fff;
        background-color: #F17B78;
    }

    .myCv .content .cv{
        margin-top: 0.9375em;
    }


    /* Gallery details */
    .gallery_details .banner_top{
        height: 3.125em;
    }

    .gallery_details{
        background-color: #f9f9f9;
    }

    .gallery_details .btn {
        margin-top: 3.125em;
        padding: 0.3125em 0.625em;
        width: 12%;
    }

    .gallery_details .btn p{
        font-size: 0.9375em;
    }

    .gallery_details .title{
        height: 2.5em;
        margin-top: 0.9375em;
    }

    .gallery_details .title .name{
        font-size: 1.875em;
    }

    .gallery_details .title .software{
        width: 10%;
    }

    .gallery_details .title .software .icon{
        width: 2.1875em;
        height: 2.1875em;
        border-radius: 1.5625em;
        margin-left: 0.3125em;
    }

    .gallery_details .title .software .icon p{
        font-size: 0.9375em;
    }

    .gallery_details .images{
        margin-top: 0.3125em;
    }

    .gallery_details .images img{
        margin-top: 0.3125em;
    }


    /* video */
    .gallery_details .player {
        width: 100%;
        margin-top: 0.9375em;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.875em;
    }

    .gallery_details .player__progress {
        height: 0.375em;
    }

    .gallery_details .player__button {
        font-size: 0.625em;
    }

    .gallery_details .toggle {
        font-size: 1.5625em;
    }

    .gallery_details .player__volume input {
        top: 2.0.3125em;
    }



    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .popup_layer .overlay i{
        top: 5%;
        right: 5%;
        font-size: 1.875em;
    }
    
    .popup_layer .image_layer{
        height: 50%;
        transform: translateX(-55%) translateY(-50%);
    }



    .hide_on_mobile{
        display: none;
    }

    /* Home */
    .banner_top{
        height: 28.125em;
    }

    .banner_top .menu{
        height: 30%;
    }

    .banner_top .menu .logo .logo_top{
        width: 7%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 9%;
    }

    .banner_top .menu .menu_icon_bar{
        position: absolute;
        top: 50%;
        right: -55%;
        transform: translateY(-45%);
        font-size: 2.5em;
        width: 100%;
    }

    .banner_top .content{
        padding-top: 4.375em;
        text-align: center;
    }
    
    .banner_top .introduce .name{
        font-size: 5.625em;
    }
    
    .banner_top .introduce .job{
        font-size: 1.875em;
        margin-top: -0.3em;
    }
    
    .banner_top .introduce .description{
        margin-top: 0.55em;
        font-size: 0.9375em;
        padding: 0em 8.33333%;
    }
    
    .banner_top .introduce a{
        line-height: 1.5em;
    }
    
    .banner_top .introduce .button{
        
    }

    .banner_top .introduce .button button{
        padding: 0.5em 1.25em;
        margin: 0.3125em;
        font-size: 1em;
    }
    
    .who_am_i {
        padding: 0em 8.33333%;
    }

    .who_am_i .container{
        height: 10em;
        margin-top: 2.5em;
    }
    
    .who_am_i .container .content{
        padding: 1.25em 1.875em;
    }
    
    .who_am_i .container .content .question1{
        font-size: 1.875em;
    }
    
    .who_am_i .container .content .description{
        font-size: 0.8125em;
        margin-top: 0.5em;
    }

    .what_software {
        padding: 0em 8.33333%;
    }
    
    .what_software .container{
        margin-top: 2em;
    } 
    
    .what_software .title{
        font-size: 1.875em;
        padding-top: 0.5em;
    } 
    
    .what_software .software{
        padding-top: 0.5em;
    }
    
    .what_software .software .bg{
        width: 2em;
        height: 2em;
    }
    
    .what_software .software .bg img{
        width: 2em;
        transition: none;
    }

    .what_my_abilities{
        padding: 0em 8.33333%;
    }

    .what_my_abilities .title{
        font-size: 1.875em;
        padding-top: 1em;
    }
    
    .what_my_abilities .box{
        min-height: 95%;
    }

    .what_my_abilities .box .title{
        font-size: 1.25em;
        padding: 0.5em 0.625em 0.3em 0.5em;
        float: left;
    }
    
    .what_my_abilities .box .description{
        font-size: 0.8125em;
        padding-top: 0.375em;
        float: left;
        padding: 0em 1em 2em 1em;
    }
    
    .comment_area{
        padding: 0em 8.33333%;
        padding-top: 15%;
    }

    .footer{
        padding: 0em 8.33333%;
        padding-bottom: 1.25em;
    }

    .footer .line{
        height: 0.1875em;
        margin-top: 4.375em;
    }
    
    .footer .right{
        font-size: 0.5em;
        margin-top: 0.1875em;
    }
    
    .footer .social_media .icon{
        width: 1.2em;
        height: 1.2em;
        margin-left: 0.5em;
        margin-top: 0.1875em;
    }


    /* Gallery */
    .gallery .banner_top .menu .menu_mobile_items .first_row{
        margin-top: 2.2em;
    }

    .gallery .content .title_base{
        padding: 0em 8.33333%;
    }

    .gallery .content .title{
        font-size: 4.375em;
        margin-top: 0.2em;
    }

    .gallery .content .description{
        font-family: 'Quicksand', sans-serif;
        font-size: 0.875em;
        margin-top: 0.625em;
    }

    .footer .social_media .icon i{
        font-size: 0.75em;
    }

    .gallery .products{
        margin-top: 0.9375em;
        padding: 0em 8.33333%;
    }
    
    .gallery .products .food-item{
        min-height: 17.5em;
        max-height: 25em;
        margin-top: 0.9375em;
        border-radius: 0.625em;
    }
    
    .gallery .products .food-item .title{
        font-size: 0.8125em;
        float: left;
        padding: 0em 0.625em 0.625em 0.625em;
    }

    /* About me */
    .about_me .banner_top .menu .menu_mobile_items .first_row{
        margin-top: 2.2em;
    }

    .about_me .content{
        padding: 0em 8.33333%;
    }

    .about_me .content .title{
        font-size: 4.375em;
        margin-top: 30%;
        margin-bottom: 3%;
    }

    .about_me .content .description{
        font-size: 0.9375em;
        margin-top: 0em;
        margin-bottom: 0.5em;
        float: none;
    }

    .about_me .content .description .text2{
        padding-right: 0em;
    }
    
    .about_me .timeline{
        width: 100%;
        height: 12em;
    }

    .about_me .timeline .title{
        font-size: 1.875em;
        /* padding-top: 2em; */
    }
    
    .about_me .timeline .bar{
        height: 0.1875em;
        margin-top: 0.625em;
    }    
    
    
    .about_me .timeline .bar .point{
        width: 0.625em;
        height: 0.625em;
        border: 0.1875em solid #F17B78;
        top: -0.4375em;
        margin-left: 14%;
    } 
    
    .about_me .timeline .bar .date{
        font-size: 0.9375em;
        margin-top: 1.25em;
    } 
    
    .about_me .timeline .bar .description{
        font-weight: 400;
        font-size: 0.625em;
    } 

    .about_me .strengths{
        padding: 0em 8.33333%;
    }

    .about_me .strengths .container{
        height: 11.25em;
        margin-top: 0em;
    }
    
    .about_me .strengths .container .content{
        padding: 1.25em 1.875em;
    }
    
    .about_me .strengths .container .content .title{
        font-size: 1.875em;
    }

    .about_me .strengths .container .content .description i{
        display: none;
    }
    
    .about_me .strengths .container .content .description span{
        font-size: 0.8125em;
        margin-top: 0.625em;
    }

    .about_me .hobbies{
        height: 6.875em;
        margin-top: 2.5em;
        padding: 0em 8.33333%;
    }
    
    .about_me .hobbies .title{
        font-size: 1.875em;
    }
    
    .about_me .hobbies .base{
        margin-top: 0.625em;
    }
    
    .about_me .hobbies .base .activity{
        width: 3.125em;
        height: 100%;
    }
    
    .about_me .hobbies .base .activity .bg{
        width: 3.125em;
        height: 3.125em;
        border-radius: 0.5em;
    }
    
    .about_me .hobbies .base .activity p{
        font-size: 0.8125em;
        margin-top: 0.3125em;
    }
    
    .about_me .hobbies .base .activity:hover p{
        font-size: 0.9375em;
    }


    /*======================================
                MAIN-.about_me CONTENT
    ======================================*/
    .favorite_songs{
        padding: 0em 8.33333%;
    }

    .about_me .favorite_songs .container{
        height: 20em;
        border-radius: 1.25em;
        margin-top: 3.125em;
    }

    .about_me .favorite_songs .container .content{
        padding: 0.5em 1.5em;
    }

    .about_me .favorite_songs .container .content .my-playlist{
        height: 12.5em;
        margin-top: 1em;
    }

    .about_me .favorite_songs .container .content .playlist-head h4{
        font-size: 2.1875em;
        margin-bottom: 0.4em;
    }

    .about_me .favorite_songs .container .content .playlist{
        padding: 0.3125em 0;
        font-size: 1em;
    }

    .about_me .favorite_songs .container .content .playlist-list__title {
        display: none;
    }

    .about_me .favorite_songs .container .content .playlist__number{
        width: 1.25em;
        min-width: 1.25em;
        display: none;
    }

    .about_me .favorite_songs .container .content .playlist__title{
        width: 12.5em;
        min-width:12.5em;
        
    }


    .about_me .favorite_songs .container .content .playlist__artist{
        width: 11.875em;
        min-width: 11.875em;
        display: none;
        
    }

    .about_me .favorite_songs .container .content .playlist__time{
        padding-right: 0em;
    }


    /*======================================
                PLAY-SONGS
    ======================================*/
    .about_me .favorite_songs .container .content .play-song{
        padding: 0em 0em 0em 0em;
        margin-top: 0.75em;
    }

    .about_me .favorite_songs .container .content .play-control{
        font-size: 0.75em;
        padding: 0.625em 0em 0.625em;
    }

    .about_me .favorite_songs .container .content .play-control__act{
        width: 11.25em;
    }

    .about_me .favorite_songs .container .content .play-control__act i{
        padding: 0.3125em 0.3125em 0.3125em 0.3125em;
        font-size: 1em;
    }

    .about_me .favorite_songs .container .content .play-control__repeat{
        width: 10em;
        padding-right: 0.5em;
    }

    .about_me .favorite_songs .container .content .play-control__repeat i{
        font-size: 1em;
    }


    .about_me .favorite_songs .container .content .play-control__main{
        gap: 1em;
    }

    .about_me .favorite_songs .container .content .main-icon{
        font-size: 1.25em;
    }
    
    .about_me .favorite_songs .container .content .main-icon--big{
        font-size: 2.5em;
    }


    .about_me .favorite_songs .container .content .play-seekbar{
        gap:1.5em;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.8125em;
    }

    .about_me .favorite_songs .container .content .timer__left, .timer__right{
        width: 1.5625em;
        max-width: 1.5625em;
    }

    .about_me .favorite_songs .image_base{
        display: none;
    }


    /* My CV */
    .myCv .banner_top .menu .menu_mobile_items .first_row{
        margin-top: 2.2em;
    }

    .myCv .content{
        padding: 0em 8.33333%;
    }

    .myCv .content .title{
        font-size: 5em;
        margin-top: 7.1875em;
    }

    .myCv .content .button{
        text-align: center;
        margin-top: 1.25em;
    }

    .myCv .content .button button{
        border: 2.0.3125em solid #F17B78;
        padding: 0.3125em 0.625em;
        margin: 0.3125em;
        font-size: 0.8125em;
    }

    .myCv .content .cv{
        margin-top: 0.625em;
    }



    /* My CV */
    .myCv .banner_top{
        height: 0em;
    }

    .myCv .content .title{
        margin-top: 1.1em;
    }

    .myCv .content .button{
        margin-top: 0.625em;
    }

    .myCv .content .button button{
        padding: 0.3125em 0.3125em;
        font-size: 0.9375em;
    }

    .myCv .content .cv{
        margin-top: 0.625em;
    }


    /* Gallery details */
    .gallery_details .content{
        padding: 0em 8.33333%;
    }

    .gallery_details .btn {
        margin-top: 3.75em;
        padding: 0.3125em 0.625em;
        width: 22%;
    }

    .gallery_details .btn p{
        font-size: 0.9375em;
    }

    .gallery_details .title{
        margin-top: 0.9375em;
        margin-bottom: 0.3125em;
    }

    .gallery_details .title .name{
        font-size: 1.25em;
    }

    .gallery_details .title .software{
        width: 30%;
    }

    .gallery_details .title .software .icon{
        width: 1.5625em;
        height: 1.5625em;
        border-radius: 1.5625em;
        margin-left: 0.3125em;
    }

    .gallery_details .title .software .icon p{
        font-size: 0.75em;
    }

    .gallery_details .images{
        margin-top: 0em;
    }

    .gallery_details .images img{
        margin-top: 0.3125em;
    }


    /* video */
    .gallery_details .player {
        width: 100%;
        margin-top: 0.9375em;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.75em;
    }

    .gallery_details .player__progress {
        height: 0.375em;
    }

    .gallery_details .player__button {
        font-size: 0.5em;
    }

    .gallery_details .toggle {
        font-size: 1.5625em;
    }

    .gallery_details .player__volume{
        display: none;
    }










}






